<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.Patched" version="0.86.5" targetFramework="net40" />
  <package id="nunrar" version="1.0.1" targetFramework="net40" />
  <package id="Octokit" version="0.19.0" targetFramework="net45" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net45" />
</packages>